.main {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  button {

  }
}
